{
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "build/infection.log",
        "summary": "build/summary.log",
        "json": "build/infection.json",
        "github": true
    },
    "tmpDir": "build/infection",
    "phpUnit": {
        "configDir": "."
    },
    "mutators": {
        "@default": true,
        "@function_signature": false,
        "MBString": false
    },
    "minMsi": 30,
    "minCoveredMsi": 50,
    "bootstrap": "vendor/autoload.php",
    "testFramework": "pest",
    "ignoreMsiWithNoMutations": true
}
